.ItemDetailStyle{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.ItemDetailStyle img{
    width: 400px;
}

.ItemDescription{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}