
header{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid white;

}

h1{
    display: flex;
    justify-content: center;
    width: 200px;
}

ul{
    display: flex;
    width: 500px;
    height: auto;
    justify-content: space-evenly;

}

li{
    font-size: 20px;
    list-style: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 10px;
}

li:hover{
    transform: translateY(-5px);
}