@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: #e0e0e0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100vh;
}